<?xml version="1.0" encoding="utf-8"?>
<!-- The system's OPXSYS\xml directory contains the SecondaryWindows.config file.              -->
<!-- This configuration file assigns the assembly and class names to the screen names.         -->
<!--                                                                                           -->
<!-- TODO: - Check if the data in the xml line below is correct and change it if necessary.    -->
<!--       - Copy and paste the line into the OPXSYS\xml\SecondaryWindows.config file.         -->
<!--                                                                                           -->
<!-- name           : name of the  screen that will be used in OpicsPlus                       -->
<!-- type           : fully qualified UI class name                                            -->
<!-- assembly       : name of the DLL that contains the UI class                               -->
<!-- version        : assembly version - set this to the Opics Plus Version being used         -->
<!-- Culture        : set to neutral                                                           -->
<!-- PublicKeyToken : set to null                                                              -->
<!-- IsFastPath     : set to true - this will enable OpicsPlus to fastpath to this screen      -->

<component name="ACRM" type="Scotia.OpicsPlus.Application.ACRM.ACRMUI" assembly="Scotia.OpicsPlus.Application.ACRM.ACRMUI"  IsFastPath="true" />
